# https://developer.gnome.org/integration-guide/stable/index.html.en
[Desktop Entry]
Name=Rename Extension
Comment=Batch rename filenames
Exec=renamex
Icon=rename-extension
Type=Application
Terminal=false
Categories=GTK;GNOME;Utility;FileTools;
